<app-navbar></app-navbar>

<div class="container">
    <input type="text" placeholder="Search" class="my-5 text-center searchbar form-control" [(ngModel)]="query">
    <table class="table">
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Artist Name</th>
            <th>Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Likes</th>
            <th class="text-center">Add to Cart</th>
        </tr>                                                                                                                                               
        <tr *ngFor="let prod of productList | search:query">
            <td>{{prod.prodId}}</td>
            <td>{{prod.productName}}</td>
            <td>{{prod.artistName}}</td>
            <td>{{prod.price | currency:"INR"}}</td>
            <td class="text-center"><input type="number" [(ngModel)]="prod.quantity" min="1" class="text-center numberInput"></td>
            <td>
                    <input *ngIf="isLiked(prod.prodId)" type="button" value="Liked" class="btn btn-danger" (click)="removeLike(prod)">
                    <input *ngIf="!isLiked(prod.prodId)" type="button" value="Like" class="btn btn-light" (click)="addLike(prod)"> &nbsp;&nbsp;{{prod.likes}}
            </td>
            <td>
                <input type="button" value="Add to Cart" class="btn btn-primary" (click)="addToCart(prod)">
            </td>
        </tr>

    </table>
</div>
<div class="my-5 text-center">
    <input type="button" (click)="toggleCart()" value="My Cart" class="btn btn-warning">
</div>
<div *ngIf="showCart" class="container">
    <div>
        <h5 class="my-1">My Cart</h5>
        <table class="table">
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total Cost</th>
                <th>Remove from Cart</th>
            </tr>
            <tr *ngFor="let cr of cartItems">
                <td>{{cr.product.prodId}}</td>
                <td>{{cr.product.productName}}</td>
                <td>{{cr.cartQuantity}}</td>
                <td>{{cr.totalCost}}</td>
                <td><input type="button" (click)="removeFromCart(cr)" class="btn btn-secondary" value="Remove"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>Grand Total</th>
                <td>{{GrandTotal}}</td>
            </tr>
        </table>
    </div>
</div>