<app-navbar></app-navbar>

<div class="container userprofile mt-5">
  <div class="my-5 py-3 px-3">
    <div>
      <h5><b>Name: </b></h5>
      <p>{{currentUser?.name}}</p>
    </div>
    <div>
      <h5><b>emailId </b></h5>
      <p>{{currentUser?.emailId}}</p>
    </div>
    <div>
      <h5><b>Password:</b> </h5>
      <p><a>change Password</a></p>
    </div>
    <div>
      <h5><b>Partnered Artist?</b></h5>
      <p *ngIf="currentUser?.isArtist">Yes</p>
      <p *ngIf="!currentUser?.isArtist">No</p>
    </div>
  </div>
</div>
<div *ngIf="currentUser?.isArtist" class="container">
  <div class="container my-3">
    <h5>My Artworks</h5>
    <table class="table">
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Likes</th>
        <th>Remove</th>
      </tr>
      <tr *ngFor="let ma of myArtworks">
        <td>{{ma.prodId}}</td>
        <td>{{ma.productName}}</td>
        <td>{{ma.price | currency:"INR"}}</td>
        <td>{{ma.likes}}</td>
        <td><input type="button" (click)="removeProduct(ma)" class="btn btn-danger" value="Remove Product"></td>
      </tr>
    </table>
  </div>
  <div class="container my-5">
    <h5>Add Artwork</h5>
    <form>
      <div>
        <label for="artWorkName">Name of Artwork</label>
        <input type="text" name="productName" class="form-control" id="artWorkName" [(ngModel)]="newArt.productName">
      </div>
      <div>
        <label for="artWorkPrice">Price per item(in INR)</label>
        <input type="number" name="productPrice" class="form-control" id="artWorkName" [(ngModel)]="newArt.price">
      </div>
      <div class="my-1">
        <input type="button" (click)="addProduct()" class="btn btn-success" value="Add Product">
      </div>
    </form>
  </div>
</div>
<div class="container my-3">
  <h5>Liked Artworks</h5>
  <table class="table">
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Artist Name</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let prod of likedArtworks">
      <td>{{prod.prodId}}</td>
      <td>{{prod.productName}}</td>
      <td>{{prod.artistName}}</td>
      <td>{{prod.price | currency:"INR"}}</td>
    </tr>

  </table>
</div>