<app-navbar></app-navbar>

<div class="container userprofile mt-5">
  <div class="my-5 py-3 px-3">
    <div>
      <h5><b>Name: </b></h5>
      <p>{{currentUser?.name}}</p>
    </div>
    <div>
      <h5><b>emailId </b></h5>
      <p>{{currentUser?.emailId}}</p>
    </div>
    <div>
      <h5><b>Password:</b> </h5>
      <p><a>change Password</a></p>
    </div>
    <div>
      <h5><b>Partnered Artist?</b></h5>
      <small>If you choose Yes, you will be able to add your products for other users and your profile will be
        visible.</small><br>
      <form class="form">
        <input type="radio" id="yes" name="ifartist" value="Yes">
        <label for="yes">Yes</label><br>

        <input type="radio" id="no" name="ifartist" value="No">
        <label for="no">No</label><br>

        <input type="button" name="ifArtist" value="Submit">
      </form>

    </div>
  </div>
</div>
<div class="container">
  <h3>Liked Artworks</h3>
  <table class="table">
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Artist Name</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let prod of likedArtworks">
      <td>{{prod.prodId}}</td>
      <td>{{prod.productName}}</td>
      <td>{{prod.artistName}}</td>
      <td>{{prod.price | currency:"INR"}}</td>
    </tr>

  </table>
</div>